{% extends 'base.html.twig' %}

{% block title %}Scpi index{% endblock %}

{% block body %}
<div class="row" style="display: flex;
flex-direction:row;

">

<div class =" form-styles row" style="width:70%" >
  

    <h1>Liste des Scpi</h1>
    <div class="button-right">
  <a class="btn btn-secondary" href="{{ path('scpi_new') }}">Ajouter</a>
  </div>
    {% for scpi in scpis %}
  <div class="card" style="width:30%">
  <div class="card-body">
    <h5 class="card-title">{{ scpi.nom }}</h5>
    <div class="button-inline">
    <h5 class="card-title">Tdvm</h5> <span class="card-text">{{ scpi.tdvm }}.</span>
    <h5 class="card-title">Prix de part</h5><span class="card-text">{{ scpi.prixPart }}.</span>
    </div>
    <h5 class="card-title">Gérée par <span class="card-text"><a class"link" href="{{ path('societe_de_gestion_show', {'id': scpi.getSocieteDeGestion.id })}}">{{ scpi.getSocieteDeGestion }} </a></span></h5>
   
           <a class="btn btn-secondary" href="{{ path('scpi_show', {'id': scpi.id}) }}">Détails</a>
                    <a class="btn btn-secondary" href="{{ path('scpi_edit', {'id': scpi.id}) }}">Modifier</a>
  </div>
</div>
  {% else %}
            
                <p colspan="9">Aucun résultat trouvé</p>
            
        {% endfor %}
    
    </div>
     <div class="col-md-3">
   {% include 'Scpi/_filter.html.twig' with {form:form}  %}
    </div>
    </div>
{% endblock %}
